<nav-bar></nav-bar>
<!-- /.navbar-static-side -->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" ng-show="showList=='leads'">
                <span>Leads</span>
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#new-lead-modal"> Add New Lead</button>
            </h1>
            <h1 class="page-header" ng-show="showList=='users' && user.type=='SU'">Users <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#new-user-modal">Add New User</button> </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12" ng-show="showList=='leads'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    List of leads
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="lead-table">
                            <thead>
                                <tr>
                                    <tr>
                                        <th>Name</th>
                                        <th>Lead No</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Status</th>
                                        <th>Source</th>
                                        <th>Locality</th>
                                        <th>Assigned To</th>
                                        <th>Created At</th>
                                    </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-12" ng-show="showList=='users' && user.type=='SU'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    List of users
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="user-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                    <th>Created By</th>
                                    <th>Created At</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /#page-wrapper -->
<!-- New Lead Modal -->
<div id="new-lead-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lead Info.</h4>
            </div>
            <div class="modal-body">
                <p>{{createLeadMsg}}</p>
                <form role="form">
                    <div class="form-group">
                        <input class="form-control" placeholder="Name" ng-model="newLeadName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" ng-model="newLeadEmail">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Mobile" ng-model="newLeadMobile">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Source" ng-model="newLeadSource">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Locality" ng-model="newLeadLocality">
                    </div>
                    <div class="form-group" ng-hide="userType=='LU'">
                        <label>Assign to</label>
                        <select class="form-control" ng-model="newLeadAssignTo">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="addLead()">Create Lead</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- New User Modal -->
<div id="new-user-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Info.</h4>
            </div>
            <div class="modal-body">
                <p>{{createUserMsg}}</p>
                <form role="form">
                    <div class="form-group">
                        <input class="form-control" placeholder="Name" ng-model="newUserName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" ng-model="newUserEmail">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" ng-model="newUserPassword">
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control" ng-model="newUserType">
                            <option value="SU">Super user</option>
                            <option value="PU">Privileged user</option>
                            <option value="LU">Limited user</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Manager Email" ng-model="newUserManager">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="addUser()">Create User</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
