<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default" ng-hide="resetPassword">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <p ng-if="error" class="text-danger">{{error}}</p>
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" ng-model="user.email" name="email" type="email" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" ng-model="user.password" name="password" type="password" value="">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a class="btn btn-success btn-block" ng-click="signin()">Login</a>
                            <hr>
                            <a class="btn btn-error btn-block" ng-click="forgotPassword()">Forgot the password?</a>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="login-panel panel panel-default" ng-show="resetPassword">
                <div class="panel-heading">
                    <h3 class="panel-title">Set new password</h3>
                </div>
                <div class="panel-body">
                    <p ng-if="error" class="text-danger">{{error}}</p>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" ng-model="user.password"  type="password" autofocus>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Confirm Password" ng-model="user.cPassword" type="password">
                    </div>
                    <!-- Change this to a button or input when using this as a form -->
                    <a class="btn btn-success btn-block" ng-click="updatePassword()">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>
