<nav-bar></nav-bar>
<div id="page-wrapper">
    <div class="container">
        <div class="alert alert-success" role="alert" ng-hide="!flashMsg">{{flashMsg}}</div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-target="#profile_tab" data-toggle="tab">Profile <i class="fa"></i></a>
            </li>
            <li><a data-target="#change_password" data-toggle="tab">Change Password <i class="fa"></i></a></li>
        </ul>
        <form id="profileForm" class="form-horizontal">
            <div class="tab-content">
                <div class="tab-pane active" id="profile_tab">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Full name</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="fullName" ng-model="user.name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Email</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="email" ng-model="user.email" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Mobile</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="mobile" ng-model="user.mobile" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">User type</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="type" ng-model="user.type" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Address</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="address" ng-model="user.address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Manager</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="address" ng-model="user.manager" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label"></label>
                        <div class="col-xs-5">
                            <button class="btn btn-primary" ng-click="updateProfile()">Update</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="change_password">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Old password</label>
                        <div class="col-xs-5">
                            <input type="password" class="form-control" name="current_password" ng-model="currentPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">New password</label>
                        <div class="col-xs-5">
                            <input type="password" class="form-control" name="new_password" ng-model="newPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Confirm password</label>
                        <div class="col-xs-5">
                            <input type="password" class="form-control" name="confirm_password" ng-model="confirmPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label"></label>
                        <div class="col-xs-5">
                            <button class="btn btn-primary" ng-click="changePassword()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>